    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contacto</h2>
          <p>Si quieres contactar conmigo por una propuesta profesional, colaboración o simplemente para comentar algún
            proyecto, puedes hacerlo a través de los siguientes medios.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row g-4 g-lg-5">
            <div class="col-lg-5">
              <div class="info-box">
                <h3>Informacíon de Contacto</h3>
                <p>Estoy abierto a oportunidades profesionales, proyectos freelance y colaboraciones relacionadas con
                  desarrollo web, software y tecnología.
                </p>
  
                <div class="info-item">
                  <div class="icon-box">
                    <i class="bi bi-geo-alt"></i>
                  </div>
                  <div class="content">
                    <h4>Ubicación</h4>
                    <p>Avda. Reina Mercedes s/n,</p>
                    <p>41012 Sevilla</p>
                  </div>
                </div>
  
                <div class="info-item">
                  <div class="icon-box">
                    <i class="bi bi-telephone"></i>
                  </div>
                  <div class="content">
                    <h4>Teléfono</h4>
                    <p>+ 34 620462044</p>
                  </div>
                </div>
  
                <div class="info-item">
                  <div class="icon-box">
                    <i class="bi bi-envelope"></i>
                  </div>
                  <div class="content">
                    <h4>Email</h4>
                    <p>alejandromunsal@outlook.es</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-7">
              <div class="contact-form">
                <h3>Ponte en contacto</h3>
                <p>Puedes enviarme un mensaje directo para hablar sobre proyectos, ideas o cualquier cuestión relacionada
                  con
                  mi trabajo.
                </p>
  
                <form action="forms/contact.php" method="post" class="php-email-form">
                  <div class="row gy-4">
  
                    <div class="col-md-6">
                      <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required="">
                    </div>
  
                    <div class="col-md-6 ">
                      <input type="email" class="form-control" name="email" placeholder="Tu Email" required="">
                    </div>
  
                    <div class="col-md-6">
                      <input type="tel" class="form-control" name="telefono" placeholder="Tu Teléfono" required="">
                    </div>
  
                    <div class="col-md-6">
                      <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
                    </div>
  
                    <div class="col-12">
                      <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                    </div>
  
                    <div class="col-12 text-center">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Tu mensaje se ha enviado. Gracias!</div>
  
                      <button type="submit" class="btn">Enviar mensaje</button>
                    </div>
  
                  </div>
                </form>
  
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Contact Section -->