<section id="service-details" class="service-details section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-8">

        <div class="service-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": 1,
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>
          <div class="swiper-wrapper align-items-center">
            <div class="md-img swiper-slide">
              <!-- Aquí irá la imagen, se pueden insertar mas swiper-->
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="md-date content mt-3">
          <!-- Aquí irá la fecha, justo debajo de la imagen del slider -->
        </div>
        <h1 class="md-title">
          <!-- Aquí irá el titulo -->
        </h1>
        <div class="md-content content mt-5">
          <!-- El contenido del Markdown se cargará aquí -->
        </div>
        <div class="md-info content mt-5">
          <!-- El contenido del md-info se cargará aquí -->
        </div>


      </div>

      <div class="col-lg-4">
        <div class="md-details service-info">
          <!--<h4>Detalles del Tutorial</h4>
          <div class="info-item">
            <i class="bi bi-clock"></i>
            <h5>Tiempo estimado</h5>
            <p>30-45 minutos</p>
          </div>
          <div class="info-item">
            <i class="bi bi-hdd-stack"></i>
            <h5>Requisitos</h5>
            <p>Proxmox con LXC, Debian 12, acceso root</p>
          </div>
          <div class="info-item">
            <i class="bi bi-terminal"></i>
            <h5>Nivel</h5>
            <p>Intermedio / Avanzado</p>
          </div>
          <div class="info-item">
            <i class="bi bi-code-slash"></i>
            <h5>Lenguajes involucrados</h5>
            <p>Bash, PHP, configuración de Nginx</p>
          </div>-->
        </div>
        <div class="md-related">
          <!-- El contenido del md-related se cargará aquí -->

        </div>

      </div>


    </div>

  </div>

</section><!-- /Service Details Section -->